<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions</title>
</head>
<body>
    <h1>
        QUESTIONS!
    </h1>
    <hr>
    <h3>Questions List</h3>

    <p>Name: <%= name %></p>
    <p>Language: <%= lang %></p>
    <p>Enterprise: <%= enterprise %></p>
    <p>Number of subscribers: <%= subscribers %></p>
</body>
</html>